@font-face {
    font-family: 'My Lucida';
    src: url('../font/LucidaGrande.ttf');
    font-style: normal; 
    font-weight: bold;
}
@viewport{
	width: device-width;
	zoom: 1;
}

@media screen and (max-width: 480px)
{
	nav.browse{
		display: none;
	}
	header .logo-search {
    float: left;
    width: 15em;
}
	.wrapper aside{
	display: none;
	}
header .user {
    display: none;
}
header .logo-search img {
    float: center;
}
	main header aside{
		float: center;
	}
	main header .name {
    float: center;
}
main .station {
    float: center;
}
main header .links {
    display:none;
}
    nav
    {
        display: block;
        width: 60%;
    }
	#albums article img {
    border: 0.5em solid #cbcbcb;
	height: 5em;
	width: 5em;
    transition: all 0.3s ease 0;
}

#albums article img:hover {
    box-shadow: 0 0 0.5em #848484;
    transform: scale(1.3) rotate(-3deg);
}
}

@media screen and (max-width: 600px)
{
	nav.browse{
		display: none;
	}
    nav
    {
        display: block;
        width: 80%;
    }
}

@media screen and (max-width: 720px)
{
    nav
    {
        display: block;
        width: 100%;
    }
}

* { 
    font-family: 'My Lucida', Console;
}

body { 
    background: linear-gradient(to bottom, #efefef, white) no-repeat;
}

a {
    color: black;
    text-decoration: none;
}

.wrapper { 
    width: 90%;
    padding: 1.5em;
    margin: 0 auto;
}

body > header {
    margin-bottom: 0.5em;
    background: white;
    box-shadow: 0.2em 0em 0.8em rgb(200, 200, 200);
}

header .logo-search {
    float: left;
    width: 15em;
}

header .logo-search img, header .logo-search form  {
    float: left;
}

header .user {
    float: right;
}

header .user a {
    font-size: 1em;
    color: #89949b;
}

body .wrapper > aside {
    float: left;
    width: 15.625%;
}
body .wrapper > main {
    float: left;
    width: 78.125%;
}

main header aside {
    float: left;
}
main header .name {
    float: left;
}

main header .statistics {
    float: left;
}

main header .links {
    float: right;
}

main h2 {
    float: left;
}
main .station {
    float: right;
}

main article {
    display: inline-block;
}

h3 {
    color: #b8c3c9;
    text-transform: uppercase;
    font-size: 1.1em;
    font-weight: normal;
    margin-bottom: 1em;
}

nav ul li a { 
    font-size: 1em;
    font-weight: normal;
    color: #828c92;
}

nav ul li a:hover {
    color: #fe7f19;
}

nav ul li {
    margin-top: 0.5em;
}

main header aside img {
    border: 1em solid #dadada;
    border-radius: 50%;
    box-shadow: 0 0 0.5em #cecece;
}

nav ul li:last-child {
    margin-bottom: 3em;
}

.name-photo aside { 
    margin-right: 2;
}

h1 {
    color: #4b5c66;
    font-size: 1.5em;
    font-weight: normal;
    margin-bottom: 0.8em;
}

.name p { 
    color: #a0aab1;
    font-size: 1em;
}

.name p img { 
    margin-left: 1.2em;
}


.stats-links {
    color: #4b5c66;
    font-size: 1.2em;
    padding: 1.2em 0em 1em 0em;
    border-bottom: 0.1em solid #e1e6e9;
    margin-bottom: 2em;
}

.stats-links span {
    margin-right: 1.5em;
}

.stats-links a {
    margin-left: 1.5em;
    font-size: 1em;
    font-weight: normal;
    color: #4b5c66;
}

h2 {
    font-size: 1.2em;
    font-weight: normal;
    color: #4b5c66;
}


input.search {
    background: url("../img/icon/search.png") #ebeff1 no-repeat 0.8em;
    box-shadow: none;
    height: 2.5em;
    width: 20em;
    font-size: 1.3em;
    padding: 0.3em 0.6em 0.3em 2.5em;
    border: 0.8em solid #d0dde9;
    margin: 0em;
    border-radius: 1.2em;
    top: 0em;
    margin-left: 5em;
    box-shadow: inset 0.1em 0.1em 0.5em #d5d5d5;
}

input.submit {
    display: none;
}

.station {
    font-size: 1em;
    color: #008fd5;
    border-radius: 0.5em;
    border: 0.7em solid #b8c3c9;
    cursor: pointer;
    padding: 0.5em 0.8em 0.5em 2.5em;
    box-shadow: 0.1em 0.1em #d5d5d5;
    background: url("../img/icon/station.png") no-repeat 0.8em;
}

.station:hover {
    background-color: #0A90D5;
    color: white;
    transition: all 0.3s ease 0;
    background-image: url("../img/icon/station-white.png");
}

#albums { 
    margin-top: 2em;
}

#albums article {
    margin-right: 1.2em;
    margin-bottom: 3em;
    font-size: 1em;
    color: #89949b;
}

#albums article img {
    border: 1em solid #cbcbcb;
	height: 11em;
	width: 11em;
    transition: all 0.3s ease 0;
}

#albums article img:hover {
    box-shadow: 0 0 1.3em #848484;
    transform: scale(1.3) rotate(-3deg);
}

#albums article figcaption {
    color: #4b5c66;
    margin-top: 0.6em;
}

#albums article .artist, #albums article .count {
    margin-top: 0.4em;
}

#albums .explicit {
    color: #ff5d5d;
    margin-left: 0.5em;
}

nav.browse a, nav.music a {
    padding-left: 2em;
    padding-top: 0.2em;
}

nav a.heavy { background: url("../img/icon/heavy.png") no-repeat 0em; }
nav a.recent { background: url("../img/icon/recent.png") no-repeat 0em; }
nav a.top { background: url("../img/icon/top.png") no-repeat 0em; }
nav a.new { background: url("../img/icon/new.png") no-repeat 0em; }
nav a.collection { background: url("../img/icon/collection.png") no-repeat 0em; }
nav a.history { background: url("../img/icon/history.png") no-repeat 0em; }




